/* /Shared/Header.razor.rz.scp.css */
.navbar.header-navbar[b-w25uplms3n] {
    flex-grow: 0;
    flex-wrap: nowrap;
    border: none;
    background-color: inherit;
    border-radius: 0;
    height: 3.5rem;
    min-height: 3.5rem;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.12);
    justify-content: flex-start;
}

.header-navbar .navbar-toggler[b-w25uplms3n] {
    outline: none;
    border-radius: 0;
    padding-left: .75rem;
    padding-right: .75rem;
    box-shadow: none;
    align-self: stretch;
}

.header-navbar .navbar-toggler .navbar-toggler-icon[b-w25uplms3n] {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    background-color: transparent !important;
    height: 2rem;
    width: 2rem;
}

.title[b-w25uplms3n] {
    font-size: 1.1rem;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 350px) {
    .title[b-w25uplms3n] {
        font-size: inherit;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-raientw7k8] {
    height: 100%;
    overflow: hidden;
    background-color: inherit;
}
[b-raientw7k8] .page-layout,
[b-raientw7k8] .page-layout > .dxbl-gridlayout-root,
[b-raientw7k8] .layout-item {
    background-color: var(--bs-body-bg, var(--dxbl-body-bg, #fff));
}

[b-raientw7k8] .content {
    padding: 1.1rem 2rem 0 2rem;
    overflow: auto;
}

@media (max-width: 1199.98px) {
    [b-raientw7k8] .page-layout > .dxbl-gridlayout-root {
        grid-template-columns: minmax(0, 1fr) !important;
    }
}

[b-raientw7k8] .fit-width {
    max-width: 100%;
}

[b-raientw7k8] .mw-1100 {
    max-width: 1100px;
}
/* /Shared/NavMenu.razor.rz.scp.css */
.sidebar[b-vp25vk5n52] {
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    transition: transform 0.1s ease-out;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: var(--bs-body-bg, var(--dxbl-body-bg, #fff));
}

.sidebar.collapse[b-vp25vk5n52] {
    display: none;
}

.sidebar.expand[b-vp25vk5n52] {
    display: block;
}

@media (max-width: 1199.98px) {
    .sidebar[b-vp25vk5n52] {
        display: none;
    }

    .sidebar.expand[b-vp25vk5n52] {
        position: fixed;
        top: 3.5rem;
        left: 0;
        height: auto;
        min-width: 100%;
        z-index: 1050;
    }
}

[b-vp25vk5n52] .app-sidebar {
    --dxbl-treeview-spacing-x: 0.5rem;
    --dxbl-treeview-spacing-y: 1rem;
}

[b-vp25vk5n52] .app-sidebar .root-item > :first-child {
    --dxbl-treeview-font-weight: 600;
}

[b-vp25vk5n52] .app-sidebar .root-item > :only-child:not(.dxbl-treeview-tmpl) > button {
    display: none;
}

@media (max-width: 1199.98px) {
    [b-vp25vk5n52] .app-sidebar {
        padding-bottom: 0;
    }
}
