<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Trace">
	
	<targets>
		<target name="logfileError" xsi:type="File"
				fileName="${basedir}/Logs/Sbslog_Error_${date:format=dd.MM.yyyy}.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
		<target name="logfileInfo" xsi:type="File"
				fileName="${basedir}/Logs/Sbslog_Info_${date:format=dd.MM.yyyy}.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>

		<target name="logfileDebug" xsi:type="File"
				fileName="${basedir}/Logs/Sbslog_Debug_${date:format=dd.MM.yyyy}.txt"
				layout="${longdate} ${level:uppercase=true} ${message}"/>
	
	</targets>
	<rules>
		<logger name="*" minlevel="Error" maxlevel="Error" writeTo="logfileError" />
		<logger name="*" minlevel="Info" maxlevel="Info" writeTo="logfileInfo" />
		<logger name="*" minlevel="Debug" maxlevel="Debug" writeTo="logfileDebug" />
	</rules>
</nlog>