.sidebar[b-vp25vk5n52] {
    min-width: 300px;
    max-width: 300px;
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.16);
    transition: transform 0.1s ease-out;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    background-color: var(--bs-body-bg, var(--dxbl-body-bg, #fff));
}

.sidebar.collapse[b-vp25vk5n52] {
    display: none;
}

.sidebar.expand[b-vp25vk5n52] {
    display: block;
}

@media (max-width: 1199.98px) {
    .sidebar[b-vp25vk5n52] {
        display: none;
    }

    .sidebar.expand[b-vp25vk5n52] {
        position: fixed;
        top: 3.5rem;
        left: 0;
        height: auto;
        min-width: 100%;
        z-index: 1050;
    }
}

[b-vp25vk5n52] .app-sidebar {
    --dxbl-treeview-spacing-x: 0.5rem;
    --dxbl-treeview-spacing-y: 1rem;
}

[b-vp25vk5n52] .app-sidebar .root-item > :first-child {
    --dxbl-treeview-font-weight: 600;
}

[b-vp25vk5n52] .app-sidebar .root-item > :only-child:not(.dxbl-treeview-tmpl) > button {
    display: none;
}

@media (max-width: 1199.98px) {
    [b-vp25vk5n52] .app-sidebar {
        padding-bottom: 0;
    }
}